**Задание**
* Используя данные из обучающего датасета (train.csv), построить модель для предсказания цен на недвижимость (квартиры).
С помощью полученной модели, предсказать цены для квартир из тестового датасета (test.csv).

* Целевая переменная:
Price

* Метрика качества:
R2 - коэффициент детерминации (sklearn.metrics.r2_score)


* Требования к решению:

1) R2 > 0.6

2) Тетрадка Jupyter Notebook с кодом Вашего решения, названная по образцу {ФИО}_solution.ipynb, пример SShirkin_solution.ipynb

3) Файл CSV с прогнозами целевой переменной для тестового датасета, названный по образцу {ФИО}_predictions.csv, пример SShirkin_predictions.csv 

Файл должен содержать два поля: Id, Price и в файле должна быть 5001 строка (шапка + 5000 предсказаний).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

**Описание датасета**:

* **Id** - идентификационный номер квартиры
* **DistrictId**  - идентификационный номер района
* **Rooms**  - количество комнат
* **Square** - площадь
* **LifeSquare** - жилая площадь
* **KitchenSquare** - площадь кухни
* **Floor** - этаж
* **HouseFloor** - количество этажей в доме
* **HouseYear** - год постройки дома
* **Ecology_1, Ecology_2, Ecology_3** - экологические показатели местности
* **Social_1, Social_2, Social_3** - социальные показатели местности
* **Healthcare_1, Helthcare_2** - показатели местности, связанные с охраной здоровья
* **Shops_1, Shops_2** - показатели, связанные с наличием магазинов, торговых центров
* **Price** - цена квартиры

In [3]:
df.shape

(10000, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [5]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

In [6]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [7]:
df.describe(include='object')

       Ecology_2 Ecology_3 Shops_2
count      10000     10000   10000
unique         2         2       2
top            B         B       B
freq        9903      9725    9175

In [8]:
df['Ecology_2'].value_counts()

B    9903
A      97
Name: Ecology_2, dtype: int64

In [9]:
df['Ecology_3'].value_counts()

B    9725
A     275
Name: Ecology_3, dtype: int64

In [10]:
df['Shops_2'].value_counts()

B    9175
A     825
Name: Shops_2, dtype: int64

In [11]:
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [12]:
df['Healthcare_1'].value_counts()

540.0     511
30.0      348
1046.0    245
750.0     163
229.0     148
         ...
370.0      14
32.0       12
1815.0     10
35.0        2
0.0         1
Name: Healthcare_1, Length: 79, dtype: int64

In [13]:
df['LifeSquare'].value_counts()

35.812832    1
58.218079    1
35.213655    1
23.656629    1
4.289714     1
            ..
82.418226    1
43.005439    1
56.867287    1
87.018830    1
33.743934    1
Name: LifeSquare, Length: 7887, dtype: int64

In [14]:
df['Healthcare_1'].fillna(df['Healthcare_1'].median(), inplace=True)

In [15]:
df['LifeSquare'].fillna(df['LifeSquare'].median(), inplace=True)

In [17]:
df.isna().sum()

Id               0
DistrictId       0
Rooms            0
Square           0
LifeSquare       0
KitchenSquare    0
Floor            0
HouseFloor       0
HouseYear        0
Ecology_1        0
Ecology_2        0
Ecology_3        0
Social_1         0
Social_2         0
Social_3         0
Healthcare_1     0
Helthcare_2      0
Shops_1          0
Shops_2          0
Price            0
dtype: int64

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,10000.0,8383.407700,4859.019020,0.000000,4169.500000,8394.500000,12592.500000,1.679800e+04
DistrictId,10000.0,50.400800,43.587592,0.000000,20.000000,36.000000,75.000000,2.090000e+02
Rooms,10000.0,1.890500,0.839512,0.000000,1.000000,2.000000,2.000000,1.900000e+01
Square,10000.0,56.315775,21.058732,1.136859,41.774881,52.513310,65.900625,6.410652e+02
LifeSquare,10000.0,36.266040,76.609981,0.370619,25.527399,32.781260,41.427234,7.480592e+03
KitchenSquare,10000.0,6.273300,28.560917,0.000000,1.000000,6.000000,9.000000,2.014000e+03
Floor,10000.0,8.526700,5.241148,1.000000,4.000000,7.000000,12.000000,4.200000e+01
HouseFloor,10000.0,12.609400,6.775974,0.000000,9.000000,13.000000,17.000000,1.170000e+02
HouseYear,10000.0,3990.166300,200500.261427,1910.000000,1974.000000,1977.000000,2001.000000,2.005201e+07
Ecology_1,10000.0,0.118858,0.119025,0.000000,0.017647,0.075424,0.195781,5.218671e-01
Social_1,10000.0,24.687000,17.532614,0.000000,6.000000,25.000000,36.000000,7.400000e+01
Social_2,10000.0,5352.157400,4006.799803,168.000000,1564.000000,5285.000000,7227.000000,1.908300e+04
Social_3,10000.0,8.039200,23.831875,0.000000,0.000000,2.000000,5.000000,1.410000e+02
Healthcare_1,10000.0,1026.358900,746.662828,0.000000,830.000000,900.000000,990.000000,4.849000e+03
Helthcare_2,10000.0,1.319500,1.493601,0.000000,0.000000,1.000000,2.000000,6.000000e+00
Shops_1,10000.0,4.231300,4.806341,0.000000,1.000000,3.000000,6.000000,2.300000e+01
Price,10000.0,214138.857399,92872.293865,59174.778028,153872.633942,192269.644879,249135.462171,6.332335e+05

In [24]:
df.cov()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
Id,2.361007e+07,2.747544e+03,-23.850342,-1.030511e+03,6223.198644,2758.896565,34.322197,-275.778030,4.875103e+06,10.466502,-65.729663,-3.958421e+04,-1083.644646,-1.034234e+04,10.899330,-203.594160,4.458647e+06
DistrictId,2.747544e+03,1.899878e+03,2.613849,-2.442765e+01,-39.561561,50.241786,-27.499151,-44.021850,1.173708e+05,0.338747,188.348085,2.924961e+04,141.371526,8.630521e+03,19.930937,36.497345,1.073148e+06
Rooms,-2.385034e+01,2.613849e+00,0.704780,1.171932e+01,7.751859,0.122839,-0.002927,-0.166687,-1.786198e+03,-0.003232,1.118338,2.399547e+02,0.256318,2.274487e+01,0.079693,0.216349,4.290473e+04
Square,-1.030511e+03,-2.442765e+01,11.719321,4.434702e+02,268.631062,5.003894,12.669665,11.630168,-3.813425e+04,-0.161618,-26.099869,-3.638403e+03,17.686202,-5.480143e+02,-0.722163,2.161707,1.017148e+06
LifeSquare,6.223199e+03,-3.956156e+01,7.751859,2.686311e+02,5869.089131,1.964886,7.204339,11.287731,-3.205818e+04,-0.180225,-41.555270,-7.845561e+03,14.416688,-3.561595e+02,-1.851038,-1.235468,5.573203e+05
KitchenSquare,2.758897e+03,5.024179e+01,0.122839,5.003894e+00,1.964886,815.725980,-1.706018,0.150966,5.487465e+03,-0.019111,21.722015,4.326322e+03,-10.305444,1.875044e+02,1.841565,1.402326,7.656269e+04
Floor,3.432220e+01,-2.749915e+01,-0.002927,1.266967e+01,7.204339,-1.706018,27.469634,14.879817,9.751562e+02,-0.010064,-4.127156,-3.477545e+02,-0.279375,-4.153078e+02,-0.513032,0.611235,6.265313e+04
HouseFloor,-2.757780e+02,-4.402185e+01,-0.166687,1.163017e+01,11.287731,0.150966,14.879817,45.913823,-1.174024e+03,-0.003518,-2.471205,1.953040e+02,-1.314020,-5.290903e+02,-0.695573,0.855831,5.555448e+04
HouseYear,4.875103e+06,1.173708e+05,-1786.198010,-3.813425e+04,-32058.176732,5487.465297,975.156225,-1174.023646,4.020035e+10,34.951017,10638.261178,1.582617e+06,3912.516233,-1.534512e+06,3367.644632,3547.540189,8.017040e+07
Ecology_1,1.046650e+01,3.387471e-01,-0.003232,-1.616182e-01,-0.180225,-0.019111,-0.010064,-0.003518,3.495102e+01,0.014167,0.055226,4.417920e+00,-0.351932,3.888005e-01,0.005488,-0.043906,-6.453494e+02
Social_1,-6.572966e+01,1.883481e+02,1.118338,-2.609987e+01,-41.555270,21.722015,-4.127156,-2.471205,1.063826e+04,0.055226,307.392570,6.715788e+04,9.911561,9.936474e+02,13.737377,44.347732,4.287068e+05
Social_2,-3.958421e+04,2.924961e+04,239.954731,-3.638403e+03,-7845.561130,4326.322115,-347.754478,195.304011,1.582617e+06,4.417920,67157.879854,1.605444e+07,7006.928523,1.440150e+05,2831.849696,10768.394433,8.902079e+07
Social_3,-1.083645e+03,1.413715e+02,0.256318,1.768620e+01,14.416688,-10.305444,-0.279375,-1.314020,3.912516e+03,-0.351932,9.911561,7.006929e+03,567.958259,2.921267e+03,10.195695,75.841117,1.657285e+05
Healthcare_1,-1.034234e+04,8.630521e+03,22.744874,-5.480143e+02,-356.159510,187.504363,-415.307763,-529.090323,-1.534512e+06,0.388801,993.647400,1.440150e+05,2921.267058,5.575054e+05,237.100441,268.985885,8.880156e+06
Helthcare_2,1.089933e+01,1.993094e+01,0.079693,-7.221628e-01,-1.851038,1.841565,-0.513032,-0.695573,3.367645e+03,0.005488,13.737377,2.831850e+03,10.195695,2.371004e+02,2.230843,3.403340,3.510716e+04
Shops_1,-2.035942e+02,3.649734e+01,0.216349,2.161707e+00,-1.235468,1.402326,0.611235,0.855831,3.547540e+03,-0.043906,44.347732,1.076839e+04,75.841117,2.689859e+02,3.403340,23.100910,8.073870e+04
Price,4.458647e+06,1.073148e+06,42904.734888,1.017148e+06,557320.298914,76562.687425,62653.128595,55554.483493,8.017040e+07,-645.349432,428706.832130,8.902079e+07,165728.514766,8.880156e+06,35107.157267,80738.702599,8.625263e+09

In [25]:
df.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
Id,1.000000,0.012973,-0.005847,-0.010071,0.016718,0.019880,0.001348,-0.008376,0.005004,0.018097,-0.000772,-0.002033,-0.009358,-0.002851,0.001502,-0.008718,0.009880
DistrictId,0.012973,1.000000,0.071432,-0.026613,-0.011847,0.040358,-0.120373,-0.149051,0.013430,0.065294,0.246463,0.167479,0.136095,0.265185,0.306147,0.174214,0.265100
Rooms,-0.005847,0.071432,1.000000,0.662893,0.120530,0.005123,-0.000665,-0.029302,-0.010612,-0.032347,0.075980,0.071335,0.012811,0.036285,0.063557,0.053618,0.550291
Square,-0.010071,-0.026613,0.662893,1.000000,0.166509,0.008320,0.114791,0.081505,-0.009032,-0.064479,-0.070690,-0.043120,0.035241,-0.034853,-0.022960,0.021357,0.520075
LifeSquare,0.016718,-0.011847,0.120530,0.166509,1.000000,0.000898,0.017942,0.021745,-0.002087,-0.019765,-0.030938,-0.025559,0.007896,-0.006226,-0.016177,-0.003355,0.078331
KitchenSquare,0.019880,0.040358,0.005123,0.008320,0.000898,1.000000,-0.011397,0.000780,0.000958,-0.005622,0.043379,0.037805,-0.015140,0.008793,0.043170,0.010216,0.028864
Floor,0.001348,-0.120373,-0.000665,0.114791,0.017942,-0.011397,1.000000,0.418986,0.000928,-0.016133,-0.044914,-0.016560,-0.002237,-0.106125,-0.065537,0.024264,0.128715
HouseFloor,-0.008376,-0.149051,-0.029302,0.081505,0.021745,0.000780,0.418986,1.000000,-0.000864,-0.004362,-0.020801,0.007194,-0.008137,-0.104576,-0.068728,0.026279,0.088280
HouseYear,0.005004,0.013430,-0.010612,-0.009032,-0.002087,0.000958,0.000928,-0.000864,1.000000,0.001465,0.003026,0.001970,0.000819,-0.010250,0.011245,0.003681,0.004305
Ecology_1,0.018097,0.065294,-0.032347,-0.064479,-0.019765,-0.005622,-0.016133,-0.004362,0.001465,1.000000,0.026464,0.009264,-0.124068,0.004375,0.030873,-0.076749,-0.058381
Social_1,-0.000772,0.246463,0.075980,-0.070690,-0.030938,0.043379,-0.044914,-0.020801,0.003026,0.026464,1.000000,0.955988,0.023721,0.075903,0.524593,0.526272,0.263286
Social_2,-0.002033,0.167479,0.071335,-0.043120,-0.025559,0.037805,-0.016560,0.007194,0.001970,0.009264,0.955988,1.000000,0.073379,0.048138,0.473193,0.559163,0.239226
Social_3,-0.009358,0.136095,0.012811,0.035241,0.007896,-0.015140,-0.002237,-0.008137,0.000819,-0.124068,0.023721,0.073379,1.000000,0.164168,0.286434,0.662113,0.074878
Healthcare_1,-0.002851,0.265185,0.036285,-0.034853,-0.006226,0.008793,-0.106125,-0.104576,-0.010250,0.004375,0.075903,0.048138,0.164168,1.000000,0.212605,0.074953,0.128059
Helthcare_2,0.001502,0.306147,0.063557,-0.022960,-0.016177,0.043170,-0.065537,-0.068728,0.011245,0.030873,0.524593,0.473193,0.286434,0.212605,1.000000,0.474085,0.253090
Shops_1,-0.008718,0.174214,0.053618,0.021357,-0.003355,0.010216,0.024264,0.026279,0.003681,-0.076749,0.526272,0.559163,0.662113,0.074953,0.474085,1.000000,0.180876
Price,0.009880,0.265100,0.550291,0.520075,0.078331,0.028864,0.128715,0.088280,0.004305,-0.058381,0.263286,0.239226,0.074878,0.128059,0.253090,0.180876,1.000000

In [27]:
df.corr()['Price'].sort_values()

Ecology_1       -0.058381
HouseYear        0.004305
Id               0.009880
KitchenSquare    0.028864
Social_3         0.074878
LifeSquare       0.078331
HouseFloor       0.088280
Healthcare_1     0.128059
Floor            0.128715
Shops_1          0.180876
Social_2         0.239226
Helthcare_2      0.253090
Social_1         0.263286
DistrictId       0.265100
Square           0.520075
Rooms            0.550291
Price            1.000000
Name: Price, dtype: float64

In [28]:
df.to_csv('Christina.Yarochkina_predictions.csv', encoding='utf-8')